body {
   color: white;
   font-family: 'Jost', sans-serif;
}
a {
   color: white;
   transition: 0.6s;
}
h1 {
   color: black;
   font-family: Jost;
   font-size: 30px;
   font-weight: 600;
   line-height: 48px;
   letter-spacing: 0em;
   text-align: center;
}
h2 {
   padding-top: 83px;
   color: black;
   font-family: Jost;
   font-size: 50px;
   font-weight: 600;
   line-height: 80px;
   letter-spacing: 0em;
   text-align: center;
}
h3 {
   padding-top: 20px;
   color: black;
   font-family: Jost;
   font-size: 18px;
   font-weight: 400;
   line-height: 29px;
   letter-spacing: 0em;
   text-align: center;
   padding-bottom: 52px;
}
input[type='text'],
select {
   width: 500px;
   padding: 12px 20px;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   background-color: white;
   color: black;
}
input[type='email'],
select {
   width: 500px;
   padding: 12px 20px;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   background-color: white;
   color: black;
}
input[type='submit'] {
   width: 500px;
   background-color: #141024;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
.container {
   max-width: 1920px;
   padding-left: 100px;
   padding-right: 100px;
   margin: 0 auto;
}
.header-menu {
   padding-top: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav-menu {
   display: flex;
   gap: 40px;
   font-size: 20px;
   font-weight: 400;
   line-height: 32px;
}
.header-number {
   font-weight: 600;
   font-size: 30px;
   line-height: 48px;
}
.header-wrapper {
   max-width: 1920px;
   padding-left: 380px;
   padding-top: 266px;
   align-items: center;
   margin: 0 auto;
}
.main-wrapper {
   max-width: 1920px;
   padding-left: 381px;
   padding-top: 120px;
   padding-bottom: 120px;
   margin: 0 auto;
   align-items: center;
}
.enroll-wrapper {
   display: flex;
   flex-direction: column;
   gap: 32px;
}
.logo-text {
   font-size: 70px;
   font-weight: 600;
   line-height: 112px;
   letter-spacing: 0em;
   text-align: left;
}
.about-school {
   font-family: Jost;
   font-size: 20px;
   font-weight: 400;
   line-height: 32px;
   letter-spacing: 0em;
   text-align: left;
   max-width: 478px;
}
.btn {
   width: 260px;
   height: 79px;
   border-radius: 5px;
   background-color: red;
   transition: 0.6s;
}
.about-robo {
   color: black;
   font-family: Jost;
   font-size: 30px;
   font-weight: 400;
   line-height: 48px;
   letter-spacing: 0em;
   text-align: left;
   max-width: 891px;
}
.numbers {
   color: red;
   font-family: Jost;
   font-size: 70px;
   font-weight: 600;
   line-height: 112px;
   letter-spacing: 0em;
   text-align: left;
}
.count-information {
   display: flex;
   gap: 40px;
}
.end-of-enroll {
   background-color: #f9f9f9;
   max-width: 1920px;
   margin: 0 auto;
}
.after-enroll {
   color: black;
   font-family: Jost;
   font-size: 50px;
   font-weight: 600;
   line-height: 80px;
   letter-spacing: 0em;
   text-align: left;
   padding-bottom: 60px;
}
.enroll-list {
   color: black;
   font-family: Jost;
   font-size: 24px;
   font-weight: 600;
   line-height: 38px;
   letter-spacing: 0em;
   text-align: left;
   display: flex;
   gap: 40px;
}
.under-ul {
   color: #141024b2;
   font-family: Jost;
   font-size: 18px;
   font-weight: 400;
   line-height: 29px;
   letter-spacing: 0em;
   text-align: left;
   max-width: 360px;
}
.li-wrapper {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.count-list__260 {
   display: flex;
   font-family: Jost;
   font-size: 18px;
   font-weight: 400;
   line-height: 29px;
   letter-spacing: 0em;
   text-align: left;
   color: #141024b2;
   max-width: 260px;
}
.count-list__236 {
   display: flex;
   font-family: Jost;
   font-size: 18px;
   font-weight: 400;
   line-height: 29px;
   letter-spacing: 0em;
   text-align: left;
   color: #141024b2;
   max-width: 236px;
}
.icon__i {
   position: relative;
   left: 910px;
   top: 20px;
}
.hint {
   display: none;
   width: 251px;
   height: 56px;
   background-color: white;
   box-shadow: 0px 2px 8px 0px #1410241a;
   color: black;
   border-radius: 5px;
   font-family: Jost;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 0em;
   text-align: center;
   position: relative;
   left: 910px;
   top: -210px;
}
.hint.show {
   display: block;
}
.prog-children {
   position: relative;
   width: 360px;
   height: 460px;
   border-radius: 20px;
   border: 1px;
   border: 1px solid #14102433;
   background-color: white;
   transition: 0.8s;
   text-align: center;
}
.prog {
   display: flex;
   gap: 40px;
}
.after-enroll__roll {
   color: black;
   font-family: Jost;
   font-size: 50px;
   font-weight: 600;
   line-height: 80px;
   letter-spacing: 0em;
   text-align: left;
   padding-bottom: 80px;
}
.enroll-reg {
   background-image: url(/assets/img/footer-bg.svg);
   background-repeat: no-repeat;
   background-position: center;
   max-width: 1920px;
   padding-left: 440px;
   padding-right: 440px;
   padding-top: 87px;
   display: flex;
   gap: 144px;
   margin: 0 auto;
}
.enroll-info {
   font-family: Jost;
   font-size: 36px;
   font-weight: 600;
   line-height: 47px;
   letter-spacing: 0em;
   text-align: left;
   color: white;
   max-width: 476px;
}
.enroll-discount {
   font-family: Jost;
   font-size: 20px;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 0em;
   text-align: left;
   align-items: center;
}
.form-row {
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;
}
.robo-school {
   font-family: Jost;
   font-size: 30px;
   font-weight: 700;
   line-height: 48px;
   letter-spacing: 0em;
   text-align: left;
   max-width: 478px;
   display: flex;
}
.robo-number {
   font-family: Jost;
   font-size: 30px;
   font-weight: 600;
   line-height: 48px;
   letter-spacing: 0em;
   text-align: right;
   max-width: 255px;
}
.copyrights {
   font-family: Jost;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 0em;
   text-align: center;
   max-width: 129px;
}
.robo-rights {
   background-color: #141024;
   max-width: 1920px;
   padding-left: 100px;
   padding-right: 100px;
   padding-top: 40px;
   padding-bottom: 40px;
   margin: 0 auto;
}
.phone-menu,
.burger-menu {
   display: none;
}

/* Анимации */
.hint.show:hover {
   transition: 5s;
}
.prog-children:hover {
   color: white;
   background-color: #141024;
   transition: 0.6s;
   transform: scaleY(1.05);
}
.btn:hover {
   background-color: rgb(152, 37, 37);
   transition: 0.6s;
}
a:hover {
   color: rgb(166, 166, 166);
   transition: 0.6s;
}
.mobile-icons {
   display: none;
   align-items: center;
   gap: 10px;
}

.btn--red {
   background: rgb(81, 36, 36);
}
.btn--black {
   background: black;
}
.header-background {
   background-image: url(/assets/img/background.svg);
   background-repeat: no-repeat;
   background-position: center;
   height: 1080px;
}
::placeholder {
   color: black;
}
.form-input {
   padding-bottom: 87px;
}
.footer-column {
   display: flex;
   justify-content: space-between;
}
